<ul id="messageLG" class="list-group"></ul>
<form action="">
    <input type="text" class="form-control" placeholder="Ingrese el mensaje">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>